/*#weather-box {
  height: 100rem;
}*/
html {
  font-family: 'Poppins', sans-serif;
}

#title {
  color: #fff;
  font-size: 3rem;
}

#temperature {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
}

#icon {
  /*padding-top: 1rem;*/
}

#entire-page {
  background: radial-gradient(#0043A2, #09255B);
}

#weather-box {
  border-radius: 10px;
  background-color: rgba(100, 100, 100, .5);
}
