/*#weather-box {
  height: 100rem;
}*/
html {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

#box {
  -webkit-transition: all 1.5s ease; 
  -moz-transition: all 1.5s ease; 
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  opacity: 0;
}

#box.visible {
  opacity: 1;
}

#title {
  font-size: 3rem;
}

#temperature {
  /*font-size: 6rem;*/
  font-weight: 700;
}

#icon {
  /*padding-top: 1rem;*/
}

#entire-page {
  background: radial-gradient(#0043A2, #09255B);
}

#weather-box {
  border-radius: 10px;
  background-color: rgba(100, 100, 100, .5);
}
